<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br/>
  <%= link_to "Show", @friend, class:"btn btn-outline-primary btn-sm" %><br><br>
  <%= button_to 'Delete', @friend, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger btn-sm" %><br>
  <%= link_to "Back", friends_path, class:"btn btn-outline-primary btn-sm" %><br><br>

  
  